# MYSQL CONFIG
MYSQL_ROOT_PASSWORD=replace_me
MYSQL_USER=replace_me
MYSQL_PASSWORD=replace_me
MYSQL_DATABASE=replace_me

# PREFIXES CONTAINERS WITH PROJECT NAME
# I prefix my containers so I can use this on each project
CONTAINER_PREFIX=project_name